bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
Journal/x64/Debug/Journal.exe.recipe
Journal/x64/Debug/Journal.obj
Journal/x64/Debug/Journal.tlog/CL.command.1.tlog
Journal/x64/Debug/Journal.tlog/CL.read.1.tlog
Journal/x64/Debug/Journal.tlog/CL.write.1.tlog
Journal/x64/Debug/Journal.tlog/Journal.lastbuildstate
Journal/x64/Debug/Journal.tlog/link.command.1.tlog
Journal/x64/Debug/Journal.tlog/link.read.1.tlog
Journal/x64/Debug/Journal.tlog/link.write.1.tlog
Journal/x64/Debug/vc142.idb
Journal/x64/Debug/vc142.pdb
x64/Debug/Journal.exe
x64/Debug/Journal.ilk
x64/Debug/Journal.pdb
Journal/Journal.vcxproj
Journal/Journal.vcxproj.filters
.idea/.idea.Journal/.idea/vcs.xml
.idea/.idea.Journal/.idea/indexLayout.xml
.idea/.idea.Journal/.idea/encodings.xml
